/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --text-color:#dddddd;
  --first-bg-color: #222831;
  --second-bg-color: #30475e;
  --third-bg-color: #f05454;
}

body{
  background-color: var(--first-bg-color);
}
