*{
  width: 100%;
  color: var(--text-color);
}

span{
  cursor: default;
}

.table-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem repeat(auto-fit, minmax(2rem, 4rem));
  grid-template-columns: 100%;
  background: #222831e7;
}

.table-caption{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  justify-content: center;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background: var(--third-bg-color);
}

.caption{
  text-align: center;
}

.table-row{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
}

.table-row:nth-child(even){
  background: var(--first-bg-color);
}

.table-row:nth-child(odd){
  background: var(--second-bg-color);
}

.column{
  text-align: center;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.column input{
  font-size: 1rem;
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
}

.column:nth-child(2){
  row-gap: 0.2rem;
  margin-top: 20px;
}

.column:nth-child(2)::after{
  font-size: 0.6rem;
  content: "click to edit";
  display: block;
  position: relative;
  bottom: 0;
  transform: scale(0);
  transition: 0.4s;
}

.column:nth-child(2):hover::after{
  transform: scale(1);
}

.tomes{
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.icon{
  transform: scale(0);
  transition: 0.4s;
  cursor: pointer;
}

.tomes:hover .icon{
  transform: scale(1);
}

.icon2 *{
  height: 100%;
  width: 25px;
  cursor: pointer;
}

.svg-inline--fa{
  height: 100%;
  width: 25px;
  cursor: pointer;
}

.fa-trash:hover path{
  fill: var(--third-bg-color);
}

app-add-manga{
  margin-top: 1rem;
}
